<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cars List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of Cars">
    <ion-item (click)="changeUrl(item)">
      <ion-card-content>
        <ion-label>{{ item?.name }} | {{ item?.num.substring(0,4) }}
        </ion-label>
      </ion-card-content>
    </ion-item>
  </ion-card>

  <!-- <ion-card *ngFor="let item of students">
    <ion-item [routerLink]="['/studentslist', item.id]">
      <ion-card-content>
        <ion-label>{{ item?.name }} | {{ item?.id.substring(0,4) }}
        </ion-label>
      </ion-card-content>
    </ion-item>
  </ion-card> -->

</ion-content>